In [1]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
reference = pd.read_table('data/mp3 players 73839.txt', header = None)
reference.columns = ['id', 'site', 'category', 'title']
reference.head()

,id,site,category,title
0,301074677039,0,73839,Apple iPod nano 7th Generation Purple (16 GB) ...
1,191049351783,0,73839,APPLE IPOD TOUCH 16GB 4TH GEN WHITE MP3 PLAYER
2,251402664662,0,73839,Sport Sunglasses Headset Sun Glasses FOR IPHO...
3,370975588476,0,73839,DISNEY PARKS WHERE DREAMS COME TRUE MP3 PLAYER...
4,251398873497,0,73839,Mp3 Player Sunglasses 8gb Black w/ Bluetooth b...

# approach 1: cluster by tdm

### 1A) read feature vectors into memory and reduce

In [5]:
tdm_data = pd.read_csv('features/cases/cases_tdm.csv')
tdm_data.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,490.1,491.1,492.1,493.1,494.1,495.1,496.1,497.1,498.1,499.1
0,0,-0.018615,0.044593,0.033754,0.017147,-0.013408,-0.008801,0.026520,-0.001875,0.003662,...,0.000354,0.000027,0.000150,-0.000089,-8.266202e-07,-0.000216,0.000094,0.000139,-0.000110,-0.000042
1,1,-0.020404,0.044956,0.034604,0.017118,-0.011580,-0.010824,0.028206,-0.007174,0.002715,...,0.001100,0.000579,-0.000039,0.000113,-9.858511e-04,0.000142,-0.002124,0.000107,0.000526,-0.001291
2,2,0.067482,0.002221,-0.008682,-0.064167,-0.082925,0.046530,0.019452,-0.015765,-0.020444,...,-0.001167,-0.000090,-0.000500,0.000304,2.823215e-06,0.000739,-0.000327,-0.000484,0.000385,0.000147
3,3,-0.022178,0.046221,0.040738,0.021026,-0.003364,-0.019198,0.025294,0.004982,0.015839,...,-0.051811,-0.035410,-0.016383,-0.022950,-2.903728e-02,0.008659,0.004858,-0.002010,-0.020509,-0.027004
4,4,-0.019379,0.047132,0.032588,0.018126,-0.014113,-0.011335,0.029900,-0.003417,0.003236,...,0.010197,-0.004490,-0.000406,0.006426,1.011754e-02,0.007087,-0.005874,-0.007453,-0.009313,-0.016810

In [6]:
tdm_data_2 = tdm_data.drop(['Unnamed: 0', '0'], axis = 1)
tdm_data_2.head()

,1,2,3,4,5,6,7,8,9,10,...,490.1,491.1,492.1,493.1,494.1,495.1,496.1,497.1,498.1,499.1
0,0.044593,0.033754,0.017147,-0.013408,-0.008801,0.026520,-0.001875,0.003662,0.001454,0.021749,...,0.000354,0.000027,0.000150,-0.000089,-8.266202e-07,-0.000216,0.000094,0.000139,-0.000110,-0.000042
1,0.044956,0.034604,0.017118,-0.011580,-0.010824,0.028206,-0.007174,0.002715,-0.000914,0.025136,...,0.001100,0.000579,-0.000039,0.000113,-9.858511e-04,0.000142,-0.002124,0.000107,0.000526,-0.001291
2,0.002221,-0.008682,-0.064167,-0.082925,0.046530,0.019452,-0.015765,-0.020444,-0.061294,-0.030251,...,-0.001167,-0.000090,-0.000500,0.000304,2.823215e-06,0.000739,-0.000327,-0.000484,0.000385,0.000147
3,0.046221,0.040738,0.021026,-0.003364,-0.019198,0.025294,0.004982,0.015839,0.012907,0.029395,...,-0.051811,-0.035410,-0.016383,-0.022950,-2.903728e-02,0.008659,0.004858,-0.002010,-0.020509,-0.027004
4,0.047132,0.032588,0.018126,-0.014113,-0.011335,0.029900,-0.003417,0.003236,0.001189,0.021974,...,0.010197,-0.004490,-0.000406,0.006426,1.011754e-02,0.007087,-0.005874,-0.007453,-0.009313,-0.016810

In [7]:
tdm_reducer = PCA(n_components = 500)

In [8]:
tdm_data_3 = tdm_reducer.fit_transform(tdm_data_2)

### 1B) cluster via kmeans

In [9]:
model = KMeans(n_clusters=10, init='k-means++', max_iter=100, n_init=1)
model.fit(tdm_data_3)

KMeans(copy_x=True, init='k-means++', max_iter=100, n_clusters=10, n_init=1,
    n_jobs=1, precompute_distances='auto', random_state=None, tol=0.0001,
    verbose=0)

In [10]:
categories = model.predict(tdm_data_3)

### 1C) examine clusters

In [24]:
cluster_label = 5

cluster = np.where(categories == cluster_label)

In [25]:
for c in cluster:
    print reference['title'][c]

58      Bug's Life Hard Case Cover For Samsung Galaxy ...
81                                          Iphone 4 Case
159     2D Hard Cover Case for HTC Wildfire S G13 U.S....
197     For iPhone 5 5G 6th Combo Rugged Rubber Matte ...
208     HARRY POTTER Salazar Slytherin school case for...
267     Dual Color Skin Leather Case With Stand For LG...
288     HEAD CASE RED LONDON TELEPHONE BOX KIOSK BOOTH...
307     Wallet Flip Leather Case Cover For Apple iphon...
317     4 PIECE S-LINE TPU GEL SKIN CASE COVERS FOR IP...
383     ORANGE ROCKET HYBRID HARD PHONE CASE COVER W/ ...
417     HEAD CASE DESIGNS BEST OF PLACES SERIES 3 HARD...
468              Skinit Wolf Dragon Moon Skin for LG 500G
503             For Samsung A197 Case Cover LF Lime Green
516     For Samsung Galaxy Rush M830 Carbon Fiber Prot...
616     HEAD CASE NINJAS PROTECTIVE SNAP-ON HARD BACK ...
634     Blk/Blue HYBRID TPU Huawei Ascend M860 Facepla...
700     Noble Clear Transparent Back Thin Hard Case Co...
706     iPhone 5 Cleveland Browns team sport plastic s...
754     flower wallet Leather card slot stand case iPh...
819     PINK SIDE FLIP PU LEATHER CASE+MICRO CABLE CHA...
825     Samsung Galaxy Ace 2 TPU Rubber Gel Case Cover...
866     HEAD CASE PRINTED DENIM SNAP-ON BACK CASE FOR ...
879     ZTE MAJESTY Z796C BLACK SKIN PINK HARD KICKSTA...
888     Yellow / Black Hard Rubber Cup Y Shape Case Sk...
946     FANTASY ART - FIREY HORSES APPLE IPHONE 5 5G H...
964     Nokia Lumia 620 Protective Hybrid TPU Case Cov...
987     IMAK Cross PU + PC Leather Wallet Cover Case S...
997     Hybrid Mesh White Black Accessory Cover For Ve...
1049    (1040) BLUE Waterproof Shockproof Case Cover F...
1062    AT&T ALCATEL 871A NEW HARD RUBBER SKIN SNAP-ON...
                              ...
8626    NEW Color TPU Bumper Frame Rubber Case Cover w...
8667    The King And Queens New Hard Back Case Cover f...
8669    Gold color  IPHONE 4 4S 4G "LUXURY DIAMOND BLI...
8723    Black Rubber Hard Case+Clear LCD+USB Cable+Bla...
8740    0.5mm Ultra Thin Back Cover Case For Apple iPh...
8744    Gummy Hard Case Cover for Apple iPod Touch 4 G...
8773    SMOKE HARD TPU REAR MATTE GEL SKIN CASE COVER ...
8785    Skinit Spatter Skin for Samsung Vibrant Galaxy...
8855    BLING RHINESTONE CRYSTAL HARD BACK CASE COVER ...
8875    HEAD CASE FANDANGO MODERN BAROQUE DESIGN HARD ...
8905    Black Jewel Diamante Bling Hard Cover Protecto...
8916    Accessory for T-Mobile HTC Amaze 4G Pink Soft ...
9018    Flower Design Leather Wallet Case With Stand F...
9043                   Nintendo Game Boy iPhone 4/4s Case
9071    Rocketfish HTC Inspire 4G Soft Gel Case - PURP...
9090    Skinit Bright Plaid Skin for Samsung Fascinate...
9182    Purple iPhone 4 4S Crystal Bling Rhinestone Ha...
9256    CAMO GRASS Rubberized Hard Phone Cover Samsung...
9274    Camo Tree Hard Snap on Rubberized Phone Case C...
9442    Giving Tree Illustration Protective 2 Layer Bl...
9464    HEAD CASE WOOD AND GEOMETRY PROTECTIVE BACK CA...
9556    For Samsung Galaxy S III S3 3/i9300 3in1 Silic...
9591    New Amazing Smooth Metal Skin Hard Cover Case ...
9604    New Love Mei Rugged Waterproof Shockproof Prot...
9623    HOT PINK LEOPARD HARD PLASTIC SNAP ON DIAMOND ...
9666    1 PC Red PU Leather Hard Back Skin Case Cover ...
9711    Color Design Case Cover Accessory+Aux+Charger ...
9746    Sky Pink mustach Motorola Droid 3 XT862 Verizo...
9813    Skin Decal Sticker for Nokia X2 X2-01 Cell Pho...
9835    tattoo design beauty princess fairly sexy for ...
Name: title, dtype: object

# approach 2: cluster by neighbors vector

In [3]:
neighbor_data_1 = pd.read_csv('features/mp3/mp3_neighbors.csv')
neighbor_data_2 = neighbor_data_1.drop(['Unnamed: 0'], axis = 1)
neighbor_data_2.columns = ['nearest_neighbors']
neighbor_data_2.head()

                                   nearest_neighbors
0  0 709 4392 7350 7917 7977 8383 6506 3802 1298 ...
1  1 525 924 1153 1225 1310 1415 1533 1624 1683 2146
2  2 2777 5042 6626 6482 9953 2076 4684 6069 5005...
3  3 8359 5185 9334 6459 9825 5073 8113 1137 7712...
4   4 349 2859 7883 5816 15 6017 8212 2889 8006 2118

In [4]:
# remove primary key...

neighbor_data_2['clean'] = map(lambda x: x[1:], neighbor_data_2['nearest_neighbors'])
neighbor_data_2.head()

,nearest_neighbors,clean
0,0 709 4392 7350 7917 7977 8383 6506 3802 1298 ...,709 4392 7350 7917 7977 8383 6506 3802 1298 1694
1,1 525 924 1153 1225 1310 1415 1533 1624 1683 2146,525 924 1153 1225 1310 1415 1533 1624 1683 2146
2,2 2777 5042 6626 6482 9953 2076 4684 6069 5005...,2777 5042 6626 6482 9953 2076 4684 6069 5005 ...
3,3 8359 5185 9334 6459 9825 5073 8113 1137 7712...,8359 5185 9334 6459 9825 5073 8113 1137 7712 ...
4,4 349 2859 7883 5816 15 6017 8212 2889 8006 2118,349 2859 7883 5816 15 6017 8212 2889 8006 2118

### 2B) create matrix of neighbors

In [5]:
neighbors_vec = CountVectorizer(max_features=1000)

In [6]:
neighbors_tdm_sparse = neighbors_vec.fit_transform(neighbor_data_2['clean'])
neighbors_tdm_dense = neighbors_tdm_sparse.toarray()
neighbors_tdm_dense_df = pd.DataFrame(neighbors_tdm_dense)
neighbors_tdm_dense_df.shape

(10001, 1000)

In [7]:
model = KMeans(n_clusters=10, init='k-means++', max_iter=100, n_init=1)
model.fit(neighbors_tdm_dense_df)

KMeans(copy_x=True, init='k-means++', max_iter=100, n_clusters=10, n_init=1,
    n_jobs=1, precompute_distances='auto', random_state=None, tol=0.0001,
    verbose=0)

In [8]:
categories = model.predict(neighbors_tdm_dense_df)

/Users/vincenttang/anaconda/lib/python2.7/site-packages/sklearn/cluster/k_means_.py:862: RuntimeWarning: Got data type int64, converted to float to avoid overflows
  X = self._check_test_data(X)

In [11]:
cluster_label = 4

cluster = np.where(categories == cluster_label)

for c in cluster:
    print reference['title'][c]

0       Apple iPod nano 7th Generation Purple (16 GB) ...
2        Sport Sunglasses Headset Sun Glasses FOR IPHO...
3       DISNEY PARKS WHERE DREAMS COME TRUE MP3 PLAYER...
4       Mp3 Player Sunglasses 8gb Black w/ Bluetooth b...
6       Apple iPod Touch 32GB 5th Generation Pink - Ne...
7           Apple iPod touch 4th Generation Black (32 GB)
8       ELEMENT ELECTRONICS USB 1GB + MP3 & WMA Player...
9       Mini One Eye Monster Mummy Music MP3 Player TF...
10      Apple iPod touch 4th Generation 32GB White Bro...
11          Apple iPod touch 4th Generation White (32 GB)
12      KDQ2 Mini LCD Screen Metal Clip MP3 Music Play...
13      Apple iPod nano 5th Generation Pink 16 GB MC07...
14      Brand new ARCHOS Gmini402 20G mp4 Camcorder an...
15                Bluetooth + MP3 Player Sunglasses - 4GB
16         APPLE IPOD TOUCH 16GB 4TH GEN BLACK MP3 PLAYER
17      DISNEY MIX STICK HIGH SCHOOL MUSICAL ORANGE MI...
18      Apple iPod Touch 3rd Generation Black (32 GB) ...
19                I-Pod Touch 32GB 3rd Generation Bundled
20      Sony Walkman NWZ-B173F B170 Series 4GB USB MP3...
21      Apple iPod touch 3rd Generation (32 GB) Item #...
22      Golden LCD Screen Mini Clip Metal Music FM Rad...
23      Fashoin Mini Clip Metal USB MP3 Music Media Pl...
24      New Mini Beetle Shape MP3 Player For 2GB/4GB/8...
25      COWON iAUDIO9 PLUS BLACK,8GB 2" LCD MP3 Digita...
26        Apple iPod shuffle 4th Generation Silver (2 GB)
27      Apple iPod Touch 4th Generation Black 16 GB DE...
28      Samsung Nexus 50 YP-X5Z (1 GB) Digital Media P...
29      8GB Apple iPod Nano 5th-Gen Green/A1320/Functi...
30      Ear Loop Sport MP3 Music Player Wireless Heads...
31      Working Apple iPod Classic 3rd Generation (15 ...
                              ...
9967    Apple ipod touch 32gb a1367 "ipod is disabled"...
9968    Waterproof Swimmer USB MP3 Player OLED Display...
9969         IPOD TOUCH PARTS--FREE SHIPPING--SHIPS TODAY
9970    2GB Silver Mini MP3 Player W/ LCD Screen Clip ...
9971    Coby 8GB 2.8" Touchscreen, Speaker & Camera MP...
9972    Apple iPod touch 4th Generation  (8 GB) logic ...
9973    4GB Apple iPod Nano 2nd-Gen Red Special Editio...
9974    iPod Touch 2nd Generation (water damage-for pa...
9975        Archos 18c vision (4 GB) Digital Media Player
9977     EUC- 2GB Mini Blue MP4 Player with Stereo Spe...
9978    New Red 8GB iRulu MP3 Player FM Radio Voice Re...
9979                            SANSA ZIP-CLIP + 8 BUNDLE
9980    Apple iPod shuffle 4th Generation Pink (2 GB) ...
9981    iRiver iHP-120 (20 GB) Multi-Codec MP3  Player...
9983    New Silver  Portable Micro SD/TF Music Player ...
9984    Apple iPod Touch 2nd Generation (8 GB) Refurbi...
9985    Sony Walkman NWZ-W273 BLACK 4GB Waterproof Wea...
9986    SanDisk Sansa Clip Plus 4GB Flash MP3 Player S...
9987     New!  Sony 2013 New Walkman F Series NW-F886 ...
9988          Apple iPod nano 3rd Generation 4GB - Silver
9989    Pink GPX Digital Auidio Player MP3 Player MW38...
9990    Apple iPod touch 5th Generation Black & Slate ...
9991    Apple iPod touch BLACK & SILVER 5th Generation...
9992    Apple iPod touch 5th Generation Blue (32 GB) (...
9994           Apple iPod touch 4th Generation Black 16GB
9995    Apple iPod touch 4th Generation white purple (...
9996    Samsung Galaxy S WiFi 3.6 Black (8 GB) Digital...
9997                  Apple Ipod Touch 4th Gen 64gb Black
9998                                 PANASONIC MP3 PLAYER
9999    Apple iPod nano 7th Generation Pink (16 GB) (L...
Name: title, dtype: object